.u-section-1 {
  background-image: linear-gradient(#ffffff, #ffffff);
}

.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 570px;
  margin: 75px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 0 74px 0 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 563px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 407px;
  object-position: 50% 100%;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  width: 546px;
  margin: -563px 0 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 197px;
  animation-duration: 1000ms;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 313px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 405px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 68px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 16px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 405px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 50px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 87px;
  width: 87px;
  margin: 24px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -71px -37px 0 87px;
}

.u-section-1 .u-icon-2 {
  height: 87px;
  width: 87px;
  margin: 20px auto 0 101px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -56px 102px 0 -52px;
}

.u-section-1 .u-icon-3 {
  height: 87px;
  width: 87px;
  margin: 31px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -51px -43px 0 93px;
}

.u-section-1 .u-text-11 {
  margin: -64px 889px 0 5px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 6px auto 34px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 470px;
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 24px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 24px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-1 .u-image-1 {
    height: 336px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: -87px;
    margin-right: -51px;
    margin-left: 101px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -50px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 91px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -99px;
    margin-bottom: 60px;
    margin-left: -225px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: 70px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 672px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 425px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 73px;
    margin-left: 155px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 177px;
    margin-left: -76px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 36px;
    margin-right: 133px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -57px;
    margin-right: -351px;
    margin-left: 401px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 486px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 113px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 60px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 7px;
    margin-right: -60px;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 7px;
    margin-right: -15px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
    margin-right: -15px;
    margin-left: 117px;
  }
}.u-section-2 {
  background-image: linear-gradient(#94b276, #505e42);
}

.u-section-2 .u-sheet-1 {
  min-height: 561px;
}

.u-section-2 .u-shape-1 {
  height: 432px;
  width: 423px;
  background-image: linear-gradient(#94b276, white);
  margin: 39px 379px 0 338px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -433px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 517px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 142px 734px 0 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 631px 0 0;
}

.u-section-2 .u-video-1 {
  height: 447px;
  width: 600px;
  margin: -367px 0 0 auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-2 .u-shape-1 {
    height: 352px;
    margin-right: 179px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -352px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 534px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-video-1 {
    height: 422px;
    width: 238px;
    margin-top: -381px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-shape-1 {
    height: 263px;
    width: 300px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -263px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 374px;
  }

  .u-section-2 .u-video-1 {
    width: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-shape-1 {
    height: 423px;
    margin-top: 163px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -526px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 234px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -423px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 34px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 248%;
    left: -74%;
    height: 100%;
    top: 0%;
  }
}.u-section-3 {
  background-image: url("images/S__27557893.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 486px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 25px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 401px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 8.125rem;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  margin: 0 24px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 401px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 30px 189px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0 43px 0 -154px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    font-weight: normal;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: -36px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: -57px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }
}